.Option {
    background-color: rgba(248, 141, 19, 0.7);
    padding:1.5rem;
    text-align: center;
    color:black;
}

.Option a {
    font-size:2rem;
    margin: 3rem;
    color:rgba(211, 13, 73, 0.7)
}
